# Editor files
.idea
.vscode

# OS files
.DS_STORE

# Exclude compiled files
/.eslintcache
/tmp
/index.js.map
/index.js

# Private config files
/config/test.env

# npm files
node_modules
package-lock.json
*.log
